@font-face
  font-family 'DIN Next LT Pro'
  font-weight 100
  src url('/fonts/din/DINNextLTPro-UltraLight.woff') format('woff')
@font-face
  font-family 'DIN Next LT Pro'
  font-weight 200
  src url('/fonts/din/DINNextLTPro-Light.woff') format('woff')
@font-face
  font-family 'DIN Next LT Pro'
  font-weight 400
  src url('/fonts/din/DINNextLTPro-Regular.woff') format('woff')
@font-face
  font-family 'Triplicate'
  font-weight 400
  src url('/fonts/triplicate/triplicate_t3_regular.woff') format('woff')
@font-face
  font-family 'Triplicate'
  font-weight 400
  font-style italic
  src url('/fonts/triplicate/triplicate_t3_italic.woff') format('woff')
@font-face
  font-family 'Triplicate'
  font-weight 700
  src url('/fonts/triplicate/triplicate_t3_bold.woff') format('woff')
@font-face
  font-family 'Triplicate'
  font-weight 700
  font-style italic
  src url('/fonts/triplicate/triplicate_t3_bold_italic.woff') format('woff')
@font-face
  font-family 'Triplicate Caps'
  font-weight 400
  src url('/fonts/triplicate/triplicate_c3_regular.woff') format('woff')
@font-face
  font-family 'Triplicate Caps'
  font-weight 700
  font-style italic
  src url('/fonts/triplicate/triplicate_c3_italic.woff') format('woff')
