extends /includes/layout

block meta
  +page-title('Vegvisir')
  +page-description('Vegvisir.')

block content
  .grid-container
    page

block prescripts
  script#component-template--page(type='text/x-template')
    include /includes/components/page
